## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Koumra,TD,8.9126,17.5539,87.28,30,69,4.63,broken clouds
1,1,Mahebourg,MU,-20.4081,57.7000,75.49,83,40,3.44,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,82.49,74,56,12.19,broken clouds
3,3,Kaitangata,NZ,-46.2817,169.8464,46.04,94,89,7.18,overcast clouds
4,4,Leningradskaya,RU,46.3214,39.3877,37.80,58,13,11.70,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Koumra,TD,8.9126,17.5539,87.28,30,69,4.63,broken clouds
1,1,Mahebourg,MU,-20.4081,57.7000,75.49,83,40,3.44,scattered clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,82.49,74,56,12.19,broken clouds
8,8,Faanui,PF,-16.4833,-151.7500,78.21,73,95,4.92,overcast clouds
9,9,Takoradi,GH,4.8845,-1.7554,80.78,81,94,10.00,overcast clouds
19,19,Port Moresby,PG,-9.4431,147.1797,76.75,89,100,3.96,overcast clouds
20,20,Sur,OM,22.5667,59.5289,76.35,49,15,4.79,few clouds
25,25,Kavieng,PG,-2.5744,150.7967,81.75,78,97,10.40,light rain
27,27,Souillac,MU,-20.5167,57.5167,75.58,83,40,3.44,scattered clouds
31,31,Castro,BR,-24.7911,-50.0119,78.55,46,97,1.74,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                222
City                   222
Country                221
Lat                    222
Lng                    222
Max Temp               222
Humidity               222
Cloudiness             222
Wind Speed             222
Current Description    222
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                221
City                   221
Country                221
Lat                    221
Lng                    221
Max Temp               221
Humidity               221
Cloudiness             221
Wind Speed             221
Current Description    221
dtype: int64

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Koumra,TD,87.28,broken clouds,8.9126,17.5539,
1,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
2,Hithadhoo,MV,82.49,broken clouds,-0.6000,73.0833,
8,Faanui,PF,78.21,overcast clouds,-16.4833,-151.7500,
9,Takoradi,GH,80.78,overcast clouds,4.8845,-1.7554,
19,Port Moresby,PG,76.75,overcast clouds,-9.4431,147.1797,
20,Sur,OM,76.35,few clouds,22.5667,59.5289,
25,Kavieng,PG,81.75,light rain,-2.5744,150.7967,
27,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,
31,Castro,BR,78.55,overcast clouds,-24.7911,-50.0119,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Koumra,TD,87.28,broken clouds,8.9126,17.5539,Yamtoide house koumra
1,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,Hithadhoo,MV,82.49,broken clouds,-0.6000,73.0833,Scoop Guest House
8,Faanui,PF,78.21,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
9,Takoradi,GH,80.78,overcast clouds,4.8845,-1.7554,Raybow International Hotel

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))